[Desktop Entry]
Name=Password Store
Comment=A GTK4 frontend for Password Store
Exec=pypass
Icon=com.github.noobping.pypass
Terminal=false
Type=Application
Categories=Utility;
